body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1, h2, h3, h4 , h5, p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p{
    font-size: 20px;
}

.text{
    color: white;
    font-size: 35px;
    margin-top: 65%;
    margin-left: 45%;
    float: left;
}
/*--primary-items--*/

.nav-con{
    width: 70%;
    height: 3%;
    margin-top: 1%;
    margin-left: 17%;
}

.arrow-left{
    width: 40%;
    height: 5vh;
    background-image: url(img/Asset/right-arrow-black-triangle.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    transform: scaleX(-1);
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
}

.arrow-right {
    width: 40%;
    height: 5vh;
    margin-left: 35%;
    background-image: url(img/Asset/right-arrow-black-triangle.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
    
}/*--nav--*/

.img-con{
    height: 50vh;
    margin: 0;
    padding: 0;
}

.image-holder{
    background-image: url(img/illustration-1.jpg);
    background-position: center;
    background-size: 45vh;
    background-repeat: no-repeat;
}
/*--middle-images--*/


.quest-box{
    margin-top: 1%;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 15px 15px rgb(240, 240, 240);
}
/*--third-question-text--*/

.r-button{
    height: 40px;
    width: 15%;
    margin-top: 2%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.363);
    text-align: center;
}

.r-button:hover{
    background-color: black;
}

.r-all-button{
    height: 40px;
    width: 15%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.363);
    text-align: center;
}

.r-all-button:hover{
    background-color: black;
}

.reset-text{
    padding-top: 3%;
}

.answer-main-con{
    height: 54%;
}

.answer-con{
    margin-top: 2%;
    margin-left: 8%;
}

.circle-1{
    width: 10vh;
    height: 100%;
    background-image: url(img/Asset/green\ Button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;

}

.circle-2{
    width: 10vh;
    height: 100%;
    margin-left: 8%;
    background-image: url(img/Asset/yellow\ button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.circle-3{
    width: 10vh;
    height: 100%;
    background-image: url(img/Asset/grey\ button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.text-1{ 
    color: white;
    font-size: 4vh;
    margin-top: 15%;
    margin-left: 40%;
    float: left;
}

.text-2{
    color: white;
    font-size: 4vh;
    margin-top: 15%;
    margin-left: 40%;
    float: left;
}

.text-3{
    color: white;
    font-size: 4vh;
    margin-top: 15%;
    margin-left: 40%;
    float: left;
}

.text-des-1{
    opacity: 0.5;
    font-size: 35px;
    margin-left: 8%;
    float: left;
}

.text-des-2{
    opacity: 0.5;
    font-size: 35px;
    margin-left: 5%;
    float: left;
}

.text-des-3{
    opacity: 0.5;
    font-size: 35px;
    margin-left: 7%;
    float: left;
}


/*--four-answer-section--*/


