body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 , h5, p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p{
    font-size: 35px;
}
/*--primary-items--*/

.nav-con{
    height: 7%;
    margin-top: 1%;
}

.arrow-left{
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    border-right:60px solid black; 
    margin-top: 1%;
}

.arrow-right {
    height: 20%; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    border-left: 60px solid black;
    margin-top: 1%;
}/*--nav--*/

.img-con{
    height: 60%;
    margin: 0;
    padding: 0;
}

.image-holder{
    background-image: url(img/illustration-1.jpg);
    background-position: center;
    background-size: 35%;    
    background-repeat: no-repeat;
}
/*--middle-images--*/


.quest-box{
    border-radius: 30px;
    background-color: ghostwhite;
    box-shadow: 3px 3px #888888;
}
/*--third-question-text--*/


.answer-con{
    margin-top: 2%;
    height: 10%;
}

.circle-con{
    height: 100%;
}

.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 40%;
}

.text{
    color: white;
    font-size: 50px;
}

/*--four-answer-section--*/
